@import "./variables.scss";

.button {
    position: relative;
    z-index: 20;
    @extend .controlsButton;
}

.buttonContent {
    @extend .controlsButtonContent;
}

.icon {
    height: 28px;
    margin-right: 10px;
}
