<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta property="og:url" content="https://pokertable.app/" />
        <meta property="og:site_name" content="PokerTable.app" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Play Poker with Friends" />
        <meta
            property="og:description"
            content="No downloads. No sign-ups. Just send a link to your friends and start playing poker."
        />
        <meta property="og:image" content="https://pokertable.app/demo.png" />
        <meta
            name="description"
            content="No downloads. No sign-ups. Just send a link to your friends and start playing poker."
        />
        <title>
            The easiest way to play poker with friends · PokerTable.app
        </title>
    </head>
    <body>
        <div id="root" class="root-div"></div>
        <!-- Dependencies -->
        <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>
    </body>
</html>
