.container {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    width: 85px;

    input {
        font-size: 1rem;
    }

    img {
        height: 13px;
        width: 13px;
    }
}
